<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lusor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188233F91BD2F1AD0022622D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1882340D1BD2F1AE0022622D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188234181BD2F1AE0022622D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
